body {
  margin: 0;
  font-family: helvetica, sans-serif;
}

.backgroundcolor {
  background-color: #5ac3b7;
}

.logo {
  width: 4em;
}

h1 {
  font-family: 'Playball', cursive;
  color: white;
  background-color: #5ac3b7;
  margin: 0;
}

ul {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: #a8d160;
}

.background-image {
  background-image: url("../images/wedding-pic.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 3em 1em 3em 1em;
}

.background-image2 {
  background-image: url("../images/wedding-pic2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 2em 0.5em 2em 0.5em;
}

.background-image3 {
  background-image: url("../images/wedding-pic3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 2em 0.5em 2em 0.5em;
}

h2 {
  margin: 0;
  font-family: 'Playball', cursive;
}

p {
  margin: 0;
}

footer {
  overflow: hidden;
  background-color: #5ac3b7;
  color: white;
  padding: 1em 0.5em 1em 0.5em;
}

.backgroundcolor2 {
  background-color: #a8d160;
}

.tour {
  color: white;
}

.price {
  color: white;
}

h3 {
  margin: 0;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
  }

  .background-image {
    padding: 7em 1em 7em 1em;
  }

  .background-image2 {
    padding: 5em 0.5em 5em 0.5em;
  }

}

@media only screen and (min-width: 38em) {

  .background-image {
    padding: 10em;
  }

  .background-image2 {
    padding: 6em;
  }

}
