body {
  margin: 0;
  font-family: helvetica, sans-serif;
}

.backgroundcolor {
  background-color: #5ac3b7;
}

.logo {
  width: 5em;
  margin: 0 auto;
}

h1 {
  font-family: 'Alex Brush', cursive;
  color: white;
  background-color: #5ac3b7;
  margin: 0;
}

ul {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: #a8d160;
}

img {
  margin: 0;
}

h2 {
  margin: 0;
  font-family: 'Playball', cursive;
}

.banner {
  background-image: url("../images/wedding-pic.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 4em;
}

.text-color {
  color: white;
}

p {
  margin: 0;
}

footer {
  overflow: hidden;
  background-color: #5ac3b7;
  color: white;
  padding: 1em 0.5em 1em 0.5em;
}

.backgroundcolor2 {
  background-color: #a8d160;
  border: none;
}

.backgroundcolor3 {
  background-color: #8b85b5;
}

.tour {
  color: white;
}

.price {
  color: white;
}

h3 {
  margin: 0;;
}

.bg {
  background-image: url("../images/wedding-pic.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  color: white;
  padding-top: 12em;
  padding-bottom: 12em;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
  }

  .background-image {
    padding: 7em 1em 7em 1em;
  }

  .background-image2 {
    padding: 3em 0em 3em 0em;
  }

  .background-image3 {
    padding: 7em 0.5em 7em 0.5em;
  }

  .text-color {
    text-align: left;
  }

}

@media only screen and (min-width: 38em) {

  .background-image {
    padding: 10em;
  }

  .background-image2 {
    padding: 3em;
  }

  .background-image3 {
    padding: 2em;
  }

}
