body {
  margin: 0;
}

h1 {
  font-family: 'Playball', cursive;
  color: white;
  background-color: #5ac3b7;
  margin: 0;
}

nav {
  background-color: #7671a9;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
}
